<launch>
  <node name="feature_detection" pkg="feature_detection"
  type="feature_detection_node" output="screen" required="true">  
    <param name="velodyne_topic" value="/velodyne_points"/>
    
    <!-- ==================== Publishing Parameters ======================= -->
    <param name="publishing_rate" value="1" /> <!-- Hz -->
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find feature_detection)/rviz/osm.rviz" required="false"/>

</launch>
